@font-face
  font-weight 400
  font-style normal
  font-family "Raleway"
  @css {
    src: local("Raleway"),
    local("Raleway-Regular"),
    url("~fonts/Raleway/Raleway-Regular.woff2") format("woff2"),
    url("~fonts/Raleway/Raleway-Regular.woff") format("woff");
  }

@font-face
  font-weight 700
  font-style normal
  font-family "Raleway"
  @css {
    src: local("Raleway"),
    local("Raleway-Bold"),
    url("~fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
    url("~fonts/Raleway/Raleway-Bold.woff") format("woff");
  }

$font = "Raleway", "Verdana", "Tahoma", sans-serif
