lg-block()
  @media screen and (max-width: 1280px)
    {block}

md-block()
  @media screen and (max-width: 960px)
    {block}

sm-block()
  @media screen and (max-width: 780px)
    {block}

xs-block()
  @media screen and (max-width: 420px)
    {block}

xxs-block()
  @media screen and (max-width: 340px)
    {block}
