$animation-speed = 300ms

ease-in-out()
  transition all $animation-speed ease-in-out

ease-in()
  transition all $animation-speed ease-in-out

ease-out()
  transition all $animation-speed ease-in-out
